<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<real>37.867940</real>
		<key>long</key>
		<real>-122.2561</real>
		<key>no</key>
		<integer>50</integer>
		<key>title</key>
		<string>shooting</string>
		<key>radius</key>
		<real>.200</real>
	</dict>
	<dict>
		<key>lat</key>
		<real>37.86785</real>
		<key>long</key>
		<real>-122.2543</real>
		<key>no</key>
		<integer>2</integer>
		<key>title</key>
		<string>loitering</string>
		<key>radius</key>
		<real>.700</real>
	</dict>
	<dict>
		<key>lat</key>
		<real>37.866944</real>
		<key>long</key>
		<real>-122.261786</real>
		<key>no</key>
		<integer>3</integer>
		<key>title</key>
		<string>thief</string>
		<key>radius</key>
		<real>.300</real>
	</dict>
	<dict>
		<key>lat</key>
		<real>37.86693</real>
		<key>long</key>
		<real>-122.259786</real>
		<key>no</key>
		<integer>4</integer>
		<key>title</key>
		<string>unarmed_robbery</string>
		<key>radius</key>
		<real>.500</real>
	</dict>
	<dict>
		<key>lat</key>
		<real>37.86745</real>
		<key>long</key>
		<real>-122.265095</real>
		<key>no</key>
		<integer>5</integer>
		<key>title</key>
		<string>mugging</string>
		<key>radius</key>
		<real>.200</real>
	</dict>
	<dict>
		<key>lat</key>
		<real>37.867453</real>
		<key>long</key>
		<real>-122.25489</real>
		<key>no</key>
		<integer>6</integer>
		<key>title</key>
		<string>aggravated_assault</string>
		<key>radius</key>
		<real>.100</real>
	</dict>
</array>
</plist>
